<div class="container device col-md-8 offset-md-2">
  <div class="device_frame">
    <p class="my-4">新規登録</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field form-group devise_form">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control form', placeholder:"名前" %>
      </div>
    
      <div class="field form-group devise_form">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form', placeholder:"メールアドレス" %>
      </div>
    
      <div class="field form-group devise_form">
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control form', placeholder:"パスワード(6文字以上)" %>
      </div>
    
      <div class="field form-group devise_form">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control form', placeholder:"パスワード確認" %>
      </div>
    
      <div class="actions form-group devise_form">
        <%= f.submit "新しいアカウントを作成", class:"form-control btn-primary my-4" %>
      </div>
    <% end %>
  </div>
</div>
