<div class="form-group">
  <%= form_with model: @anomaly do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title, required: true, placeholder: "タイトル" %>
    </div>
  
    <div class='field'>
      <%= f.label :content %>
      <%= f.rich_text_area :content %>
    </div>
  
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
