<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h2>異常一覧</h2>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="offset-md-10 post-form">
      <%= link_to '投稿する', new_anomaly_path, class:'btn btn-outline-post' %>
    </div>
  <% end %>

  <div class="col-xs-12 search-form">
    <%= search_form_for @q, url: anomalys_path do |f| %>
      <div class="input-group">
        <%= f.search_field :title_cont, class: "form-control search-form-control col-md-5 offset-md-3 ", placeholder: 'キーワードを入力'  %>
          <span class="input-group-btn">
            <%= f.button type: :submit, class: "btn-search" do %>
              <i class="bi bi-search"></i>
            <% end %>
          </span>
      </div>
    <% end %>
  </div>

  <%= render 'anomaly_list' %>
  
  <%= paginate @anomalys %>
</div>
