<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h2>異常一覧</h2>
    </div>
  </div>

<h1>タイトル検索</h1>
<%= search_form_for @q, url: anomalys_path do |f| %>
  <%= f.label :title_cont, 'タイトル名' %>
  <%= f.search_field :title_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>

  <% @anomalys.each do |anomaly| %>  
    <div class="col-xs-12 anomalys">
      <div class="row">
        <div class="anomaly text-break">
          <table>
            <thead>
              <tr align="center">
                <th>タイトル</th>
                <th>確認</th>
                <th>編集</th>
                <th>削除</th>
              </tr>
            </thead>  
              <tbody>
                <tr>
                  <td><%= anomaly.title %></td>
                  <td>
                    <%= link_to "確認", anomaly %>
                  </td>
                  <td>
                    <%= link_to "編集", [:edit, anomaly] %>
                  </td>
                  <td>
                    <%= link_to "削除", anomaly, method: :delete, data: { confirm: "本当に削除しますか？" } %>
                  </td>
                </tr>
          
                <div class="anomaly-content">
                  <h4><%= link_to "#{anomaly.title}", anomaly_path(anomaly), class:"btn-block erb-link" %></h4>
                </div>
              </tbody>
          </table>
        </div>
      </div>
    </div>      
  <% end %>  
</div>
