<div class="container">
  <div class="anomaly-show text-break">
    <h2 class="my-3"><%= @anomaly.title %></h2>
    
    <% @anomaly_tags.each do |tag| %>
      <i class="bi bi-tag"></i>
      <%= link_to tag.tag_name,search_tag_path(tag_id: tag.id)%><%="(#{tag.anomalys.count})" %>
    <% end %>
    <%= @anomaly.content %>
  </div>
  
  <%= render 'comments/list' %>

  <% if user_signed_in? %>
    <%= render "comments/form" %>
  <% end %> 

  <%= link_to "戻る",:back, class: "btn other-btn btn-block"  %>
  
  <% if @anomaly.user == current_user %>
    <div class="author float-right">
      <%= link_to '編集', edit_anomaly_path(@anomaly), class:"btn" %>
      <%= link_to '削除', anomaly_path(@anomaly), method: :delete, data: { confirm: "削除しますか？" }, class:"btn" %>
    </div>
  <% end %>
</div>
