<div class="container device col-md-8 offset-md-2">
  <div class="device_frame">
    <p class="my-4">ログイン</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form', placeholder:"メールアドレス" %>
      </div>
    
      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control form', placeholder:"パスワード" %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="field text-left">
          <%= f.check_box :remember_me %>
          <%= f.label :ログインを保持 %>
        </div>
      <% end %>
    
      <div class="actions">
        <%= f.submit "ログイン",  class:"form-control btn-primary my-4" %>
      </div>
    <% end %>

    <p><%= link_to "新しいアカウントを作成", new_user_registration_path %></p>
  </div>
</div>
